@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: #191919;
  --secondary-color: #d87d4a;
  --light-grey: #f1f1f1;
  --off-white: #fafafa;
  --accent-color: #fbaf85;
  --white: #ffffff;
  --black: #000000;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 3.625rem;
  letter-spacing: 0.125em;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: 0.09375rem;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2.25rem;
  letter-spacing: 0.071875rem;
}

h4 {
  font-weight: bold;
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 2.375rem;
  letter-spacing: 0.125rem;
}

h5 {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2.0625rem;
  letter-spacing: 0.10625rem;
}

h6 {
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  letter-spacing: 0.08125rem;
}

.overline {
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.1875rem;
  letter-spacing: 0.625rem;
}

.subtitle {
  font-weight: bold;
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.5625rem;
  letter-spacing: 0.0625rem;
}

body {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.navbar {
  background-color: var(--primary-color);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h5 {
  color: var(--white);
}

ul {
  display: flex;
  gap: 20px;
}

ul li {
  text-transform: uppercase;
}

ul li a {
  color: var(--white);
  text-decoration: none;
  letter-spacing: 0.125rem;
}
.horizontal-line-container {
  background-color: var(--primary-color);
}

.horizontal-line {
  width: 80%;
  height: 0;
  border-top: 0.0625rem solid #979797;
  margin: 0 auto;
}

/* Hero Section */

.image-container {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  width: 25%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.overlay-text h3 {
  opacity: 0.6;
}

.overlay-text p {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 24px;
  color: var(--light-grey);
  max-width: 21.8525rem;
  opacity: 0.6;
}

.overlay-text span {
  color: var(--off-white);
  background-color: var(--secondary-color);
  padding: 15px 31px;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.0625rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

.overlay-text span:hover {
  background-color: var(--accent-color);
}

/* Product container */
.product-gallery {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 200px;
}

.product-card {
  position: relative;
  background-color: var(--light-grey);
  border-radius: 8px;
  min-width: 450px;
  min-height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  padding: 40px;
  text-transform: uppercase;
}

.product-card h4 {
  text-transform: uppercase;
}

.product-card img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
}

.product-card a {
  color: var(--black);
  text-decoration: none;
  letter-spacing: 0.125rem;
  font-weight: bold;
  opacity: 0.6;
}

.shop-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
